/* --------------CSS Resets------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------------GENERALES---------------- */

body {
  font-family: 'PT Serif', serif;
  /* agregamos para que sea responsive */
  width: 100%;
  background-color: #58585A;
}
header {
  width: 100%;
}
section {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

body {
    font-family: 'PT Serif', serif;
}

nav {
  /* cambios en el nav */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-family: 'Acme', sans-serif;
    font-size: larger;
}

.navegacion {
  list-style-type: none;
} 
.nav-link {
  text-decoration: none;
}
.nav-link:hover {
  color: white;
}
nav img {
  height: 100px;
  width: 100px;
}
nav h1 {
  color:black;
  font-family: 'Lobster', cursive;
  background-color:  black;
}

nav a {
  color: #F3C8B8;
  transition: 0.3s;
}
nav a:hover {
  border-bottom: rgba(125, 40, 165, 100);
}

nav ul {
  display: flex;
  gap: 1rem;
  background-color: black;
}

nav ul li {
  font-weight: 700;
} 

main {
    background-color: #58585A;
  }

 h3  {
    font-size: large;
    font-family: 'PT Serif', serif;
    background-color:  #B3B8C8;
    margin-top: 20px;
    text-align: center;

  }

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
    
  }

.hero img {
    height: 20rem;
    width: 30rem;
    border-radius: 6px;
    box-shadow: 1px 2px 15px 2px #0b0b0b;
    background-color:  #B3B8C8;
    margin: 15px  
  }
  
  .bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 1px 2px 15px 2px black;
    background-color:  #B3B8C8;
  }
  
  .bio h1 {
    margin-bottom: 0.5rem;
    background-color: #B3B8C8;
  }
  
  .bio h2 {
    margin-bottom: 0.5rem;
    background-color: #B3B8C8;
  }
  
  .bio p {
    line-height: 1.7rem;
    padding: 0.3rem 0;
    background-color:  #B3B8C8;
  }

  .container{
    width: 100%;
    display: flex;
    max-width: 1100px;
    height: 500px;
    background-color: #58585A;
     
  }
  .card{
    width: 100%;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 2px 15px 2px black;
    flex-direction: row;
    text-align: center;
    padding: 1.25rem;
    position: relative;
    padding-left: 0%;
    padding-top: 0%;
   }

   .container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

   }

    /* cambios en el footer */
footer {
  width: 100%;
  background-color: #ED3942;
}
.sociales {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 40px;
}
.socicon {
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 600px) {

    .hero {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      max-width: 20rem;
      margin: auto;
      
    }
  
    .hero img {
      height: 10rem;
      width: 15rem;
    }
    
    .bio {
      width: 10rem;
      padding: 0.625rem;
      border-radius: 6px;
      box-shadow: 1px 2px 15px 2px black;
   
    }
    
    .bio h1 {
      margin-bottom: 0.5rem;
      font-size: medium;
     
    }
    
    .bio h2 {
      margin-bottom: 0.5rem;
      font-size: medium;
  
    }
    
    .bio p {
      line-height: 1.7rem;
      padding: 0.3rem 0;
      font-size: x-small; 
    }

    
    h3  {
      margin-top: 20px;
      margin-block-end: 20px;
      font-size: medium;
      font-family: 'Acme', sans-serif;
      background-color: #B3B8C8;
     }
     .container{
      width: 100%;
      display: inline-block;
      margin-left: 18%;
      
     }

    .card{
      padding-left: 0%;
      padding-top: 0%;
      width: 250px;
      height: 300px;
      margin: 10px;
      background-color: #ED3942;
      margin-block-end: 20px;

     }
  
  @media screen and (max-width:700px){
    nav{
      flex-direction: column;
      padding-bottom: 40px;
      font-size: 15px;
    }

  .bio p {
    line-height: 1.7rem;
    padding: 0.3rem 0;
    font-size: medium; 
  }

 }

 
@media only screen and (min-width: 1200px)  {

  .sociales {
    flex-direction: row;
    text-align: center;
    bottom: 50%;
    margin: 2rem 6rem 0;
    padding: 1.25rem;
    position: relative;
    background-color:#ED3942;
  }
  
  .socicon {
    width: 2.7rem;
    height: 2.7rem;
    margin: 30px;
    background-color:#ED3942;
  }

}
}