#signup-form label {
    margin-top: 100px;
    margin-bottom: 20px;
    justify-content:center;
    display: flex;
  }
  
  #signup-form input[type="text"],
  #signup-form input[type="email"],
  #signup-form input[type="comment"] {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  #signup-form button[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #1e90ff;
    color: #fff;
    cursor: pointer;
    
  }
  
  #signup-form button[type="submit"]:hover {
    background-color: #0059ff;
  }
  