html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

body {
    font-family: 'PT Serif', serif;
    /* agregamos para que sea responsive */
    width: 100vw;
    max-width: 100%;
}

nav {
  /* cambios en el nav */
    position: fixed;
    width: 100%;
    z-index: 9999;

    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-family: 'Acme', sans-serif;
    font-size: larger;
  }
  @media screen and (max-width:700px){
    nav{
      flex-direction: column;

    }
  

    
  }

  nav img {
    height: 7rem;
    width: 7rem;
    margin: 0%;
  }
  nav h1 {
    color:black;
    font-family: 'Lobster', cursive;
    background-color:  black;
  }

  nav a {
    color: #F3C8B8;
    transition: 0.3s;
    background-color: black;
  }
  nav a:hover {
    color: #ED3942;
    border-bottom: rgba(125, 40, 165, 100);
  }

  nav ul {
    display: flex;
    gap: 1.9rem;
    background-color: black;
  }

  nav ul li {
    font-weight: 700;
  }



  

  .grid_container{
      display: grid;
      width: 100%;
      min-height: 70vh;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto auto auto auto;
      margin-top: 50px;

  }
  .gap {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 1rem;
    padding: 2rem;
    background-color: rgb(89, 88, 88);  
  }
  @media  (max-width:750px) {
    .gap {
      grid-template-columns: repeat(2, 1fr);
    }
    
  }
  
  .box1{
      grid-column: 1/3;
      grid-row: 1/2;
      display:flex;
      align-items: center;
      text-align: center;
      background-color: #58585A;
    

  }
  .box2{
      grid-column: 3/5;
      grid-row: 1/2;
      background-color: #a41e25;
  
  }
  .presentacion,.presentacion_texto, .ubicacion_texto{ 
      margin: 0 auto;
  }
    
    .presentacion {
      
      padding: 3.5rem
    }
  .box3{
      grid-column: 1/3;
      grid-row: 2/3;
      text-align: center;
      padding: 5rem;
      background-color: #989191;
  }
  .box4{
      grid-column: 3/5;
      grid-row: 2/3;
      padding: 5rem;
      background-color: #802227;

  }
  .box4 p {
    margin-bottom: 10%;
  }
  .box5 {
      grid-column: 1/5;
      grid-row: 3/4;
      text-align: center;
      padding:  0.5rem;
      background-color: #f48484;
    
  }

  .box6{
      /* grid-column: 1/2;
      grid-row: 4/5; */
      padding: 5rem;
      background-color: #da555c;
      
      
  }

  .box7{
      /* grid-column: 2/3;
      grid-row: 4/5; */
      padding: 5rem;
      background-color: #989191;
     
  }
  .box8{
      /* grid-column: 3/4;
      grid-row: 4/5; */
      padding: 5rem;
      background-color: #da555c;

  }
  .box9{
      /* grid-column: 4/5;
      grid-row: 4/5 ; */
      padding: 5rem;
      background-color: #989191;

  }
  .icono_m{
      width: 200px;
      height: 200px;
      float: left;
  }
  .icono_man{
      width: 200px;
      height: 200px;
    
      float: left;
      
  }

  h3 {
      text-align: center;
      margin-right: 25px
  }


  .presentacion_texto, .ubicacion_texto, .box4, .box1, .box3{
      box-shadow: 0 0 8px 2px rgba(53, 45, 45, 0.5);
      padding: 7.5rem;
  
    }
  #map {
    height: 200px;
    width: 500px;
    border-radius: 0;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    }




  .sociales {
    flex-direction: row;
    text-align: center;
    bottom: 50%;
    margin: 2rem 6rem 0;
    padding: 1.25rem;
    position: relative;
    background-color:#ED3942;
  }

  .socicon {
    width: 2rem;
    height: 2rem;
    margin: 20px;
    background-color:#ED3942;
  }

  footer {
    text-align: center;
    text-decoration: solid;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: #ED3942;
   }

  a{
    background-color:#ED3942;
  }

@media only screen and (max-width: 600px) {
    nav{
      font-size: medium;
    }

    footer{
      padding: 0.8rem 0rem;
    }

    nav img {
      height: 5rem;
      width: 5rem;
      margin: 0%;
    }

 }



@media only screen and (min-width: 1200px)  {

  .sociales {
    flex-direction: row;
    text-align: center;
    bottom: 50%;
    margin: 2rem 6rem 0;
    padding: 1.25rem;
    position: relative;
    background-color:#ED3942;
  }

  .socicon {
    width: 2.7rem;
    height: 2.7rem;
    margin: 30px;
    background-color:#ED3942;
  }
}

.github_linke{
  background-color: transparent;
  font-size: 2rem;
}

.link{
  display:flex;
  gap: 1rem;
  justify-content: center;
  
}
