<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge"
        />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="/css/form2.css"
        />
        <title>Contact</title>
       
        <body>

            <form id="signup-form">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                
                <label for="Comment">Comment:</label>
                <input type="comment" id="comment" name="comment" required>
                
                <button type="submit">Sign Up</button>
              </form>

        </body>
        

    </head>