<body>
    <h1 style="text-align: center;">
          REGISTRATION FORM
      </h1>
    <form name="RegForm" onsubmit="return GEEKFORGEEKS()"
          method="post">
        <p>
              Name:
              <input type="text" size="65" name="Name" />
          </p>
        
        <br />
        <p>
              E-mail Address:
              <input type="text" size="65" name="EMail" />
          </p>
        <br />

        <p>
              Telephone:
              <input type="text" size="65" name="Telephone" />
          </p>
        <br />
       

        <p>
              Comments:
              <textarea cols="55" name="Comment"> </textarea>
          </p>
        <p>
            <input type="submit" value="send" name="Submit" />
            <input type="reset" value="Reset" name="Reset" />
        </p>
    </form>
</body>
